*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-white: #f4f4f4;
    --white: white;
    --black: #333;
    --grey: #666;
    --grey-light: #aaa;
    --orange: #f0ad4e;
    --orange-light: #f4c17a;
    --red: #d9534f;
    --red-light: #e27e7b;
    --blue: #5bc0de;
    --blue-light: #84d0e6;
    --green: #5cb85c;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --box-shadow-dark: rgba(0, 0, 0, 0.5);
    --box-shadow-darker: rgba(0, 0, 0, 0.5);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

button {
    width: 100%;
    padding: 10px;
    color: var(--white);
    background-color: var(--blue);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
    cursor: pointer;
    user-select: none;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: var(--blue-light);
}

form button {
    margin-top: 5px;
}

#todo-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 50px auto;
}

.todo-item {
    display: flex;
    align-items: flex-start;
    background: var(--white);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--box-shadow);
}

.todo-item-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    user-select: none;
}

.todo-item-details {
    flex-grow: 1;
    margin-right: 10px;
    word-wrap: break-word;
    overflow: hidden;
}

.todo-item-details_title {
    font-size: 1.3em;
}

.todo-item-details_description {
    margin-top: 5px;
    color: var(--grey);
}

.todo-item-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 75px;
}

.todo-item-actions button {
    width: 75px;
    border-radius: 3px;
}

.edit-btn {
    background-color: var(--orange);
}

.edit-btn:hover {
    background-color: var(--orange-light);
}

.delete-btn {
    background-color: var(--red);
}

.delete-btn:hover {
    background-color: var(--red-light);
}

#add-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    margin: 10px auto;
}

#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-shadow-darker);
    user-select: none;
}

.modal-content {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    margin: 10% auto;
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: -20px -20px 3px var(--box-shadow-dark);
}

#close-btn {
    float: right;
    color: var(--grey-light);
    font-size: 40px;
    cursor: pointer;
    transition: all .2s linear;
    transform: translateY(-8px);
}

#close-btn:hover,
#close-btn:focus {
    color: var(--black);
}

.form-group {
    position: relative;
    width: 100%;
    padding: 15px 0 0;
    margin-bottom: 10px;
}

.form-group-field {
    width: 100%;
    padding: 7px 0 6px 0;
    color: var(--grey-light);
    font-size: 1.3rem;
    font-weight: bold;
    border: 0;
    border-bottom: 3px solid var(--grey-light);
    outline: 0;
    transition: border-color .2s linear;
}

.form-group-field::placeholder {
    color: transparent;
}

.form-group-field:placeholder-shown~.form-group-label {
    top: 20px;
    font-size: 1.3rem;
    cursor: text;
}

.form-group-field:required:valid {
    border-color: var(--green);
}

.form-group-field:required:invalid {
    border-color: var(--red);
}

.form-group-label {
    display: block;
    position: absolute;
    top: 0;
    color: var(--grey-light);
    font-weight: 700;
    transition: .2s;
}

.form-group-field:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--blue), var(--green));
    border-image-slice: 1;
}

.form-group-field:focus~.form-group-label {
    position: absolute;
    top: 0;
    color: var(--blue);
    transition: .2s;
}

.form-icon-options input[type="radio"] {
    display: none;
}

.form-icon-options img {
    width: 60px;
    height: 60px;
    margin: 5px 5px 5px 0;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .1s linear;
}

.form-icon-options input[type="radio"]:checked+label img {
    padding: 7px;
    border-color: var(--blue);
}